/* Action Buttons */

.clear-button-container {
  width: 75%;
}

.clear-button-text {
  font-size: 4rem;
  color: rgb(77, 77, 77);
  display: flex;
  justify-content: center;
  font-weight: lighter;
  padding: 20px 0;
}

.action-button-container {
  width: 25%;
}

.action-button-text {
  font-size: 4rem;
  color: rgb(242, 242, 242);
  background: rgb(155, 0, 34);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

/* Number Buttons */
.non-zero-button-container {
  width: 25%;
}

.zero-button-container {
  width: 75%;
}

.number-button-text {
  font-size: 4rem;
  color: rgb(77, 77, 77);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

/* Colors Palette

cream: rgb(242, 242, 242);
chocolate: rgb(34, 34, 34);
grey: rgb(77, 77, 77);
red: rgb(155, 0, 34);
*/
